# Base de datos
DATABASE_URL=postgresql://user:password@localhost:5432/equipos_db

# JWT
JWT_SECRET=tu_secreto_jwt_aqui

# NextAuth
NEXTAUTH_SECRET=tu_secreto_nextauth_aqui
NEXTAUTH_URL=http://localhost:3000

# Just testing 1password integration with SSH signing. Please ignore this message.